<!DOCTYPE html>
<html lang="fr" ng-app="HelloCafe">
    <head >
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta charset="utf-8"/>
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="bower_components/normalize-css/normalize.css"/>
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
        <link rel="stylesheet" href="css/libs/materialicons.css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>

        <title>HelloCafe</title>

        <script type="text/javascript" src="cordova.js"></script>
        <script src="bower_components/lodash/lodash.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

        <!-- Configs -->
        <script src="app/app.module.js"></script>
        <script src="app/app.config.js"></script>
        <script src="app/app.routes.js"></script>

        <!-- Directives -->
        <script src="app/components/dummy/app.dummy.service.js"></script>

        <!-- Controllers -->
        <script src="app/components/main/app.main.controller.js"></script>
        <script src="app/components/toolbar/app.toolbar.controller.js"></script>
        <script src="app/components/sidenav/app.sidenav.menu.controller.js"></script>
        <script src="app/components/list/app.list.controller.js"></script>
        <script src="app/components/details/app.details.controller.js"></script>
    </head>
    <body layout="column" ng-controller="mainCtrl as main">

        <md-toolbar layout="row" ng-controller="toolbarCtrl as toolbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-show="main.isBack" ng-hide="main.isTop" ng-click="main.goToTop()">
                    <md-icon ng-if="main.isBack">arrow_back</md-icon>
                </md-button>
                <md-button class="md-icon-button fix-left-margin" ng-click="toolbar.toggleSidenavBtn()" ng-show="main.isTop" ng-hide="main.isBack">
                    <md-icon>menu</md-icon>
                </md-button>


                <h1 id=""><span>ecoSolidarité</span></h1>
                <span class="flex"></span>
                <!--
                <md-button class="md-icon-button">
                    <md-icon class="">note_add</md-icon>
                </md-button>
                -->
                <md-button class="md-icon-button">
                    <md-icon class="">search</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-sidenav md-component-id="leftSidenav" class="md-sidenav-left md-whiteframe-z2" md-swipe-left="main.unSwipeSidenav()" >
            <md-content class="">
                <div layout="row" class="avatar-wrapper bg-primary">
                    <img class="avatar" src="img/avatar.png" alt=""/>
                    <h3 class="text-white username">John Doe</h3>
                </div>
                <md-list ng-controller="leftSidenavMenuCtrl as menu" class="md-padding">
                    <md-list-item ng-repeat="item in menu.menuItems">
                        <p><a ui-sref="{{ item.linkTo }}" ng-click="main.swipeSidenav()">{{ item.name }}</a></p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <md-content layout="column" class="md-padding" md-swipe-right="main.swipeSidenav()">
            <div ui-view></div>
        </md-content>

    </body>
</html>
